$icomoon-font-family: "Xurkitree" !default;
$icomoon-font-path: "fonts" !default;

$logo-manhunt-net-path1: "\e901";
$logo-manhunt-net-path2: "\e902";
$logo-manhunt-net-path3: "\e903";
$logo-manhunt-net-path4: "\e904";
$logo-manhunt-net-path5: "\e905";
$logo-manhunt-net-path6: "\e906";
$logo-manhunt-net-path7: "\e907";
$logo-manhunt-net-path8: "\e908";
$logo-manhunt-net-path9: "\e909";
$logo-manhunt-net-path10: "\e90a";
$logo-google-my-business-path1: "\e90c";
$logo-google-my-business-path2: "\e90d";
$logo-google-my-business-path3: "\e90e";
$logo-google-my-business-path4: "\e90f";
$logo-google-my-business-path5: "\e910";
$logo-grindr: "\e911";
$logo-hornet-path1: "\e912";
$logo-hornet-path2: "\e913";
$logo-hornet-path3: "\e914";
$logo-hornet-path4: "\e915";
$logo-hornet-path5: "\e916";
$logo-hornet-path6: "\e917";
$logo-hornet-path7: "\e918";
$logo-hornet-path8: "\e919";
$logo-mercado-libre-path1: "\e91a";
$logo-mercado-libre-path2: "\e91b";
$logo-mercado-libre-path3: "\e91c";
$logo-mercado-libre-path4: "\e91d";
$logo-mercado-libre-path5: "\e91e";
$logo-mercado-libre-path6: "\e91f";
$logo-mercado-libre-path7: "\e920";
$logo-onlyfans-path1: "\e921";
$logo-onlyfans-path2: "\e922";
$logo-scruff-path1: "\e923";
$logo-scruff-path2: "\e924";
$logo-scruff-path3: "\e925";
$logo-scruff-path4: "\e926";
$logo-scruff-path5: "\e927";
$logo-scruff-path6: "\e928";
$logo-scruff-path7: "\e929";
$logo-scruff-path8: "\e92a";
$logo-scruff-path9: "\e92b";
$logo-scruff-path10: "\e92c";
$logo-scruff-path11: "\e92d";
$logo-scruff-path12: "\e92e";
$logo-tripadvisor: "\f65e";
$logo-send: "\e92f";
$logo-w3spaces: "\f663";
$logo-hi5-path1: "\f662";
$logo-hi5-path2: "\f664";
$logo-hi5-path3: "\f665";
$logo-hi5-path4: "\f666";
$logo-hi5-path5: "\f667";
$logo-hi5-path6: "\f668";
$logo-hi5-path7: "\f669";
$logo-hi5-path8: "\f66a";
$logo-hi5-path9: "\f66b";
$logo-xiib: "\f0b5";
$logo-e: "\e900";
$logo-donaciones: "\f633";
$logo-github-logo: "\f671";
$logo-www: "\f65f";
$logo-carnet: "\ec60";
$logo-sodexo-path1: "\ec61";
$logo-sodexo-path2: "\ec62";
$logo-apple-pay: "\ec63";
$logo-si-vale-path1: "\ec64";
$logo-si-vale-path2: "\ec65";
$logo-si-vale-path3: "\ec66";
$logo-edenred: "\ec67";
$logo-toka: "\ec68";
$logo-samsung-pay: "\ec69";
$logo-oxxo-path1: "\f407";
$logo-oxxo-path2: "\f408";
$logo-oxxo-path3: "\f409";
$logo-oxxo-path4: "\f40a";
$logo-oxxo-path5: "\f40b";
$logo-mercado-pago-letras-path1: "\f3be";
$logo-mercado-pago-letras-path2: "\f3bf";
$logo-mercado-pago-letras-path3: "\f3c0";
$logo-mercado-pago-letras-path4: "\f3c1";
$logo-mercado-pago-letras-path5: "\f3c2";
$logo-mercado-pago-letras-path6: "\f3c3";
$logo-mercado-pago-letras-path7: "\f3c4";
$logo-mercado-pago-letras-path8: "\f3c5";
$logo-mercado-pago-letras-path9: "\f3c6";
$logo-mercado-pago-letras-path10: "\f3c7";
$logo-mercado-pago-letras-path11: "\f3c8";
$logo-mercado-pago-path1: "\f3ad";
$logo-mercado-pago-path2: "\f3ae";
$logo-mercado-pago-path3: "\f3af";
$logo-mercado-pago-path4: "\f3b0";
$logo-mercado-pago-path5: "\f3b1";
$logo-mercado-pago-path6: "\f3b2";
$logo-mercado-pago-path7: "\f3b3";
$logo-mercado-pago-path8: "\f3b4";
$logo-mercado-pago-path9: "\f3b5";
$logo-mercado-pago-path10: "\f3b6";
$logo-mercado-pago-path11: "\f3b7";
$logo-mercado-pago-path12: "\f3b8";
$logo-mercado-pago-path13: "\f3b9";
$logo-mercado-pago-path14: "\f3ba";
$logo-mercado-pago-path15: "\f3bb";
$logo-mercado-pago-path16: "\f3bc";
$logo-mercado-pago-path17: "\f3bd";
$logo-mercado-pago-logo-path1: "\f3c9";
$logo-mercado-pago-logo-path2: "\f3ca";
$logo-mercado-pago-logo-path3: "\f3cb";
$logo-mercado-pago-logo-path4: "\f3cc";
$logo-mercado-pago-logo-path5: "\f3cd";
$logo-mercado-pago-logo-path6: "\f3ce";
$logo-clip-path1: "\effd";
$logo-clip-path2: "\effe";
$logo-clip-path3: "\efff";
$logo-clip-path4: "\f000";
$logo-clip-path5: "\f001";
$logo-clip-path6: "\f002";
$logo-mastercard-path1: "\f3a7";
$logo-mastercard-path2: "\f3a8";
$logo-mastercard-path3: "\f3a9";
$logo-mastercard-path4: "\f3aa";
$logo-visa: "\ec6a";
$logo-american-express-path1: "\ec6b";
$logo-american-express-path2: "\ec6c";
$logo-banco-azteca-path1: "\ec6d";
$logo-banco-azteca-path2: "\ec6e";
$logo-banco-azteca-path3: "\ec6f";
$logo-banco-azteca-path4: "\ec70";
$logo-banco-azteca-path5: "\ec71";
$logo-banco-azteca-path6: "\ec72";
$logo-banco-azteca-path7: "\ec73";
$logo-banco-azteca-path8: "\ec74";
$logo-banco-azteca-path9: "\ec75";
$logo-banco-azteca-path10: "\ec76";
$logo-banco-azteca-path11: "\ec77";
$logo-banco-azteca-path12: "\ec78";
$logo-banco-azteca-path13: "\ec79";
$logo-corazon: "\ea4d";
$logo-hhm: "\ea52";
$logo-pokebola: "\f413";
$logo-faq: "\ea71";
$logo-menu-puntos: "\f3ac";
$logo-menu: "\f3ab";
$logo-1password: "\e90b";
$logo-500px: "\e930";
$logo-abbrobotstudio: "\e931";
$logo-about-dot-me: "\e932";
$logo-abstract: "\e933";
$logo-academia: "\e934";
$logo-accusoft: "\e935";
$logo-acm: "\e936";
$logo-addthis: "\e937";
$logo-adguard: "\e938";
$logo-adobe: "\e939";
$logo-adobeacrobatreader: "\e93a";
$logo-adobeaftereffects: "\e93b";
$logo-adobeaudition: "\e93c";
$logo-adobecreativecloud: "\e93d";
$logo-adobedreamweaver: "\e93e";
$logo-adobeillustrator: "\e93f";
$logo-adobeindesign: "\e940";
$logo-adobelightroomcc: "\e941";
$logo-adobelightroomclassic: "\e942";
$logo-adobephotoshop: "\e943";
$logo-adobepremiere: "\e944";
$logo-adobetypekit: "\e945";
$logo-adobexd: "\e946";
$logo-airbnb: "\e947";
$logo-airplayaudio: "\e948";
$logo-airplayvideo: "\e949";
$logo-algolia: "\e94a";
$logo-alliedmodders: "\e94b";
$logo-amazon: "\e94c";
$logo-amazonalexa: "\e94d";
$logo-amazonaws: "\e94e";
$logo-amd: "\e94f";
$logo-americanexpress: "\e950";
$logo-anaconda: "\e951";
$logo-analogue: "\e952";
$logo-anchor: "\e953";
$logo-android: "\e954";
$logo-angellist: "\e955";
$logo-angular: "\e956";
$logo-angularuniversal: "\e957";
$logo-ansible: "\e958";
$logo-apache: "\e959";
$logo-apacheairflow: "\e95a";
$logo-apachecordova: "\e95b";
$logo-apacheflink: "\e95c";
$logo-apachekafka: "\e95d";
$logo-apachenetbeanside: "\e95e";
$logo-apacheopenoffice: "\e95f";
$logo-apacherocketmq: "\e960";
$logo-apachespark: "\e961";
$logo-apple: "\e962";
$logo-applemusic: "\e963";
$logo-applepay: "\e964";
$logo-applepodcasts: "\e965";
$logo-appveyor: "\e966";
$logo-aral: "\e967";
$logo-archiveofourown: "\e968";
$logo-archlinux: "\e969";
$logo-arduino: "\e96a";
$logo-artstation: "\e96b";
$logo-arxiv: "\e96c";
$logo-asana: "\e96d";
$logo-asciidoctor: "\e96e";
$logo-at-and-t: "\e96f";
$logo-atlassian: "\e970";
$logo-atom: "\e971";
$logo-audi: "\e972";
$logo-audible: "\e973";
$logo-aurelia: "\e974";
$logo-auth0: "\e975";
$logo-automatic: "\e976";
$logo-autotask: "\e977";
$logo-aventrix: "\e978";
$logo-awesomewm: "\e979";
$logo-azureartifacts: "\e97a";
$logo-azuredevops: "\e97b";
$logo-azurepipelines: "\e97c";
$logo-babel: "\e97d";
$logo-baidu: "\e97e";
$logo-bamboo: "\e97f";
$logo-bancontact: "\e980";
$logo-bandcamp: "\e981";
$logo-bandlab: "\e982";
$logo-basecamp: "\e983";
$logo-bathasu: "\e984";
$logo-beats: "\e985";
$logo-beatsbydre: "\e986";
$logo-behance: "\e987";
$logo-bigcartel: "\e988";
$logo-bing: "\e989";
$logo-bit: "\e98a";
$logo-bitbucket: "\e98b";
$logo-bitcoin: "\e98c";
$logo-bitdefender: "\e98d";
$logo-bitly: "\e98e";
$logo-bitrise: "\e98f";
$logo-blackberry: "\e990";
$logo-blender: "\e991";
$logo-blogger: "\e992";
$logo-bmcsoftware: "\e993";
$logo-boeing: "\e994";
$logo-boost: "\e995";
$logo-bootstrap: "\e996";
$logo-bower: "\e997";
$logo-box: "\e998";
$logo-brand-dot-ai: "\e999";
$logo-brandfolder: "\e99a";
$logo-brave: "\e99b";
$logo-breaker: "\e99c";
$logo-broadcom: "\e99d";
$logo-buddy: "\e99e";
$logo-buffer: "\e99f";
$logo-buymeacoffee: "\e9a0";
$logo-buzzfeed: "\e9a1";
$logo-c: "\e9a2";
$logo-cakephp: "\e9a3";
$logo-campaignmonitor: "\e9a4";
$logo-canva: "\e9a5";
$logo-cashapp: "\e9a6";
$logo-cassandra: "\e9a7";
$logo-castorama: "\e9a8";
$logo-castro: "\e9a9";
$logo-centos: "\e9aa";
$logo-cevo: "\e9ab";
$logo-chase: "\e9ac";
$logo-chef: "\e9ad";
$logo-circle: "\e9ae";
$logo-circleci: "\e9af";
$logo-cirrusci: "\e9b0";
$logo-cisco: "\e9b1";
$logo-civicrm: "\e9b2";
$logo-clockify: "\e9b3";
$logo-clojure: "\e9b4";
$logo-cloudbees: "\e9b5";
$logo-cloudflare: "\e9b6";
$logo-cmake: "\e9b7";
$logo-co-op: "\e9b8";
$logo-codacy: "\e9b9";
$logo-codecademy: "\e9ba";
$logo-codechef: "\e9bb";
$logo-codeclimate: "\e9bc";
$logo-codecov: "\e9bd";
$logo-codefactor: "\e9be";
$logo-codeforces: "\e9bf";
$logo-codeigniter: "\e9c0";
$logo-codepen: "\e9c1";
$logo-coderwall: "\e9c2";
$logo-codesandbox: "\e9c3";
$logo-codeship: "\e9c4";
$logo-codewars: "\e9c5";
$logo-codio: "\e9c6";
$logo-coffeescript: "\e9c7";
$logo-coinbase: "\e9c8";
$logo-commonworkflowlanguage: "\e9c9";
$logo-composer: "\e9ca";
$logo-compropago: "\e9cb";
$logo-conda-forge: "\e9cc";
$logo-conekta: "\e9cd";
$logo-confluence: "\e9ce";
$logo-coronarenderer: "\e9cf";
$logo-coursera: "\e9d0";
$logo-coveralls: "\e9d1";
$logo-cpanel: "\e9d2";
$logo-cplusplus: "\e9d3";
$logo-creativecommons: "\e9d4";
$logo-crehana: "\e9d5";
$logo-crunchbase: "\e9d6";
$logo-crunchyroll: "\e9d7";
$logo-cryengine: "\e9d8";
$logo-csharp: "\e9d9";
$logo-css3: "\e9da";
$logo-csswizardry: "\e9db";
$logo-curl: "\e9dc";
$logo-d3-dot-js: "\e9dd";
$logo-dailymotion: "\e9de";
$logo-dart: "\e9df";
$logo-dashlane: "\e9e0";
$logo-datacamp: "\e9e1";
$logo-dazn: "\e9e2";
$logo-dblp: "\e9e3";
$logo-debian: "\e9e4";
$logo-deepin: "\e9e5";
$logo-deezer: "\e9e6";
$logo-delicious: "\e9e7";
$logo-deliveroo: "\e9e8";
$logo-dell: "\e9e9";
$logo-deno: "\e9ea";
$logo-dependabot: "\e9eb";
$logo-designernews: "\e9ec";
$logo-dev-dot-to: "\e9ed";
$logo-deviantart: "\e9ee";
$logo-devrant: "\e9ef";
$logo-diaspora: "\e9f0";
$logo-digg: "\e9f1";
$logo-digitalocean: "\e9f2";
$logo-directus: "\e9f3";
$logo-discord: "\e9f4";
$logo-discourse: "\e9f5";
$logo-discover: "\e9f6";
$logo-disqus: "\e9f7";
$logo-disroot: "\e9f8";
$logo-django: "\e9f9";
$logo-dlna: "\e9fa";
$logo-docker: "\e9fb";
$logo-docusign: "\e9fc";
$logo-dolby: "\e9fd";
$logo-dot-net: "\e9fe";
$logo-draugiem-dot-lv: "\e9ff";
$logo-dribbble: "\ea00";
$logo-drone: "\ea01";
$logo-dropbox: "\ea02";
$logo-drupal: "\ea03";
$logo-dtube: "\ea04";
$logo-duckduckgo: "\ea05";
$logo-dunked: "\ea06";
$logo-duolingo: "\ea07";
$logo-dynatrace: "\ea08";
$logo-ebay: "\ea09";
$logo-eclipseide: "\ea0a";
$logo-elastic: "\ea0b";
$logo-elasticcloud: "\ea0c";
$logo-elasticsearch: "\ea0d";
$logo-elasticstack: "\ea0e";
$logo-electron: "\ea0f";
$logo-elementary: "\ea10";
$logo-eleventy: "\ea11";
$logo-ello: "\ea12";
$logo-elsevier: "\ea13";
$logo-ember-dot-js: "\ea14";
$logo-emlakjet: "\ea15";
$logo-empirekred: "\ea16";
$logo-envato: "\ea17";
$logo-epel: "\ea18";
$logo-epicgames: "\ea19";
$logo-epson: "\ea1a";
$logo-esea: "\ea1b";
$logo-eslint: "\ea1c";
$logo-ethereum: "\ea1d";
$logo-etsy: "\ea1e";
$logo-eventbrite: "\ea1f";
$logo-eventstore: "\ea20";
$logo-evernote: "\ea21";
$logo-everplaces: "\ea22";
$logo-evry: "\ea23";
$logo-exercism: "\ea24";
$logo-expertsexchange: "\ea25";
$logo-expo: "\ea26";
$logo-eyeem: "\ea27";
$logo-f-droid: "\ea28";
$logo-f-secure: "\ea29";
$logo-facebook: "\ea2a";
$logo-faceit: "\ea2b";
$logo-fandango: "\ea2c";
$logo-favro: "\ea2d";
$logo-feathub: "\ea2e";
$logo-fedora: "\ea2f";
$logo-feedly: "\ea30";
$logo-fidoalliance: "\ea31";
$logo-figma: "\ea32";
$logo-filezilla: "\ea33";
$logo-firebase: "\ea34";
$logo-fitbit: "\ea35";
$logo-fiverr: "\ea36";
$logo-flask: "\ea37";
$logo-flattr: "\ea38";
$logo-flickr: "\ea39";
$logo-flipboard: "\ea3a";
$logo-floatplane: "\ea3b";
$logo-flutter: "\ea3c";
$logo-fnac: "\ea3d";
$logo-formstack: "\ea3e";
$logo-fossa: "\ea3f";
$logo-fossilscm: "\ea40";
$logo-foursquare: "\ea41";
$logo-framer: "\ea42";
$logo-freebsd: "\ea43";
$logo-freecodecamp: "\ea44";
$logo-fujifilm: "\ea45";
$logo-fujitsu: "\ea46";
$logo-furaffinity: "\ea47";
$logo-furrynetwork: "\ea48";
$logo-garmin: "\ea49";
$logo-gatsby: "\ea4a";
$logo-gauges: "\ea4b";
$logo-genius: "\ea4c";
$logo-gentoo: "\ea4e";
$logo-geocaching: "\ea4f";
$logo-gerrit: "\ea50";
$logo-ghost: "\ea51";
$logo-gimp: "\ea53";
$logo-git: "\ea54";
$logo-gitea: "\ea55";
$logo-github: "\ea56";
$logo-gitlab: "\ea57";
$logo-gitpod: "\ea58";
$logo-gitter: "\ea59";
$logo-glassdoor: "\ea5a";
$logo-glitch: "\ea5b";
$logo-gmail: "\ea5c";
$logo-gnome: "\ea5d";
$logo-gnu: "\ea5e";
$logo-gnuicecat: "\ea5f";
$logo-gnuprivacyguard: "\ea60";
$logo-gnusocial: "\ea61";
$logo-go: "\ea62";
$logo-godotengine: "\ea63";
$logo-gog-dot-com: "\ea64";
$logo-goldenline: "\ea65";
$logo-goodreads: "\ea66";
$logo-google: "\ea67";
$logo-googleads: "\ea68";
$logo-googleanalytics: "\ea69";
$logo-googlechrome: "\ea6a";
$logo-googlecloud: "\ea6b";
$logo-googledrive: "\ea6c";
$logo-googlehangouts: "\ea6d";
$logo-googlehangoutschat: "\ea6e";
$logo-googlekeep: "\ea6f";
$logo-googlepay: "\ea70";
$logo-googleplay: "\ea72";
$logo-googlepodcasts: "\ea73";
$logo-googlescholar: "\ea74";
$logo-googlesearchconsole: "\ea75";
$logo-gov-dot-uk: "\ea76";
$logo-gradle: "\ea77";
$logo-grafana: "\ea78";
$logo-graphcool: "\ea79";
$logo-graphql: "\ea7a";
$logo-grav: "\ea7b";
$logo-gravatar: "\ea7c";
$logo-greenkeeper: "\ea7d";
$logo-greensock: "\ea7e";
$logo-groovy: "\ea7f";
$logo-groupon: "\ea80";
$logo-gulp: "\ea81";
$logo-gumroad: "\ea82";
$logo-gumtree: "\ea83";
$logo-gutenberg: "\ea84";
$logo-habr: "\ea85";
$logo-hackaday: "\ea86";
$logo-hackerearth: "\ea87";
$logo-hackerone: "\ea88";
$logo-hackerrank: "\ea89";
$logo-hackhands: "\ea8a";
$logo-hackster: "\ea8b";
$logo-happycow: "\ea8c";
$logo-hashnode: "\ea8d";
$logo-haskell: "\ea8e";
$logo-hatenabookmark: "\ea8f";
$logo-haxe: "\ea90";
$logo-helm: "\ea91";
$logo-here: "\ea92";
$logo-heroku: "\ea93";
$logo-hexo: "\ea94";
$logo-highly: "\ea95";
$logo-hipchat: "\ea96";
$logo-hitachi: "\ea97";
$logo-hockeyapp: "\ea98";
$logo-homeassistant: "\ea99";
$logo-homify: "\ea9a";
$logo-hootsuite: "\ea9b";
$logo-houzz: "\ea9c";
$logo-hp: "\ea9d";
$logo-html5: "\ea9e";
$logo-htmlacademy: "\ea9f";
$logo-huawei: "\eaa0";
$logo-hubspot: "\eaa1";
$logo-hulu: "\eaa2";
$logo-humblebundle: "\eaa3";
$logo-hurriyetemlak: "\eaa4";
$logo-hypothesis: "\eaa5";
$logo-iata: "\eaa6";
$logo-ibm: "\eaa7";
$logo-icloud: "\eaa8";
$logo-icomoon: "\eaa9";
$logo-icon: "\eaaa";
$logo-iconjar: "\eaab";
$logo-icq: "\eaac";
$logo-ideal: "\eaad";
$logo-ifixit: "\eaae";
$logo-imdb: "\eaaf";
$logo-imgur: "\eab0";
$logo-indeed: "\eab1";
$logo-influxdb: "\eab2";
$logo-inkscape: "\eab3";
$logo-instacart: "\eab4";
$logo-instagram: "\eab5";
$logo-instapaper: "\eab6";
$logo-intel: "\eab7";
$logo-intellijidea: "\eab8";
$logo-intercom: "\eab9";
$logo-internetarchive: "\eaba";
$logo-internetexplorer: "\eabb";
$logo-invision: "\eabc";
$logo-invoiceninja: "\eabd";
$logo-ionic: "\eabe";
$logo-ios: "\eabf";
$logo-ipfs: "\eac0";
$logo-issuu: "\eac1";
$logo-itch-dot-io: "\eac2";
$logo-itunes: "\eac3";
$logo-jabber: "\eac4";
$logo-java: "\eac5";
$logo-javascript: "\eac6";
$logo-jekyll: "\eac7";
$logo-jenkins: "\eac8";
$logo-jest: "\eac9";
$logo-jet: "\eaca";
$logo-jetbrains: "\eacb";
$logo-jinja: "\eacc";
$logo-jira: "\eacd";
$logo-joomla: "\eace";
$logo-jquery: "\eacf";
$logo-jsdelivr: "\ead0";
$logo-jsfiddle: "\ead1";
$logo-json: "\ead2";
$logo-jupyter: "\ead3";
$logo-justgiving: "\ead4";
$logo-kaggle: "\ead5";
$logo-kaios: "\ead6";
$logo-kaspersky: "\ead7";
$logo-kentico: "\ead8";
$logo-keras: "\ead9";
$logo-keybase: "\eada";
$logo-keycdn: "\eadb";
$logo-khanacademy: "\eadc";
$logo-kibana: "\eadd";
$logo-kickstarter: "\eade";
$logo-kik: "\eadf";
$logo-kirby: "\eae0";
$logo-klout: "\eae1";
$logo-known: "\eae2";
$logo-ko-fi: "\eae3";
$logo-kodi: "\eae4";
$logo-koding: "\eae5";
$logo-kotlin: "\eae6";
$logo-krita: "\eae7";
$logo-kubernetes: "\eae8";
$logo-laravel: "\eae9";
$logo-laravelhorizon: "\eaea";
$logo-laravelnova: "\eaeb";
$logo-last-dot-fm: "\eaec";
$logo-lastpass: "\eaed";
$logo-latex: "\eaee";
$logo-launchpad: "\eaef";
$logo-leetcode: "\eaf0";
$logo-lenovo: "\eaf1";
$logo-letsencrypt: "\eaf2";
$logo-letterboxd: "\eaf3";
$logo-lgtm: "\eaf4";
$logo-liberapay: "\eaf5";
$logo-librarything: "\eaf6";
$logo-libreoffice: "\eaf7";
$logo-line: "\eaf8";
$logo-linewebtoon: "\eaf9";
$logo-linkedin: "\eafa";
$logo-linode: "\eafb";
$logo-linux: "\eafc";
$logo-linuxfoundation: "\eafd";
$logo-linuxmint: "\eafe";
$logo-livejournal: "\eaff";
$logo-livestream: "\eb00";
$logo-llvm: "\eb01";
$logo-logstash: "\eb02";
$logo-loop: "\eb03";
$logo-lua: "\eb04";
$logo-lufthansa: "\eb05";
$logo-lumen: "\eb06";
$logo-lyft: "\eb07";
$logo-macys: "\eb08";
$logo-magento: "\eb09";
$logo-magisk: "\eb0a";
$logo-mail-dot-ru: "\eb0b";
$logo-mailchimp: "\eb0c";
$logo-makerbot: "\eb0d";
$logo-manageiq: "\eb0e";
$logo-manjaro: "\eb0f";
$logo-mapbox: "\eb10";
$logo-markdown: "\eb11";
$logo-marketo: "\eb12";
$logo-mastercard1: "\eb13";
$logo-mastodon: "\eb14";
$logo-materialdesign: "\eb15";
$logo-mathworks: "\eb16";
$logo-matrix: "\eb17";
$logo-mattermost: "\eb18";
$logo-matternet: "\eb19";
$logo-mcafee: "\eb1a";
$logo-mdnwebdocs: "\eb1b";
$logo-mediafire: "\eb1c";
$logo-mediatemple: "\eb1d";
$logo-medium: "\eb1e";
$logo-meetup: "\eb1f";
$logo-mega: "\eb20";
$logo-mendeley: "\eb21";
$logo-mercedes: "\eb22";
$logo-messenger: "\eb23";
$logo-meteor: "\eb24";
$logo-micro-dot-blog: "\eb25";
$logo-microgenetics: "\eb26";
$logo-microsoft: "\eb27";
$logo-microsoftaccess: "\eb28";
$logo-microsoftazure: "\eb29";
$logo-microsoftedge: "\eb2a";
$logo-microsoftexcel: "\eb2b";
$logo-microsoftoffice: "\eb2c";
$logo-microsoftonedrive: "\eb2d";
$logo-microsoftonenote: "\eb2e";
$logo-microsoftoutlook: "\eb2f";
$logo-microsoftpowerpoint: "\eb30";
$logo-microsoftteams: "\eb31";
$logo-microsoftword: "\eb32";
$logo-microstrategy: "\eb33";
$logo-minds: "\eb34";
$logo-minetest: "\eb35";
$logo-minutemailer: "\eb36";
$logo-mix: "\eb37";
$logo-mixcloud: "\eb38";
$logo-mixer: "\eb39";
$logo-mojang: "\eb3a";
$logo-monero: "\eb3b";
$logo-mongodb: "\eb3c";
$logo-monkeytie: "\eb3d";
$logo-monogram: "\eb3e";
$logo-monster: "\eb3f";
$logo-monzo: "\eb40";
$logo-moo: "\eb41";
$logo-mozilla: "\eb42";
$logo-mozillafirefox: "\eb43";
$logo-musescore: "\eb44";
$logo-mxlinux: "\eb45";
$logo-myspace: "\eb46";
$logo-mysql: "\eb47";
$logo-nativescript: "\eb48";
$logo-nec: "\eb49";
$logo-neo4j: "\eb4a";
$logo-netflix: "\eb4b";
$logo-netlify: "\eb4c";
$logo-next-dot-js: "\eb4d";
$logo-nextcloud: "\eb4e";
$logo-nextdoor: "\eb4f";
$logo-nginx: "\eb50";
$logo-nim: "\eb51";
$logo-nintendo: "\eb52";
$logo-nintendo3ds: "\eb53";
$logo-nintendogamecube: "\eb54";
$logo-nintendoswitch: "\eb55";
$logo-node-dot-js: "\eb56";
$logo-node-red: "\eb57";
$logo-nodemon: "\eb58";
$logo-nokia: "\eb59";
$logo-notion: "\eb5a";
$logo-notist: "\eb5b";
$logo-npm: "\eb5c";
$logo-nucleo: "\eb5d";
$logo-nuget: "\eb5e";
$logo-nutanix: "\eb5f";
$logo-nuxt-dot-js: "\eb60";
$logo-nvidia: "\eb61";
$logo-obsstudio: "\eb62";
$logo-ocaml: "\eb63";
$logo-octave: "\eb64";
$logo-octopusdeploy: "\eb65";
$logo-oculus: "\eb66";
$logo-odnoklassniki: "\eb67";
$logo-openaccess: "\eb68";
$logo-openapiinitiative: "\eb69";
$logo-opencollective: "\eb6a";
$logo-openid: "\eb6b";
$logo-opensourceinitiative: "\eb6c";
$logo-openssl: "\eb6d";
$logo-openstreetmap: "\eb6e";
$logo-opensuse: "\eb6f";
$logo-openvpn: "\eb70";
$logo-opera: "\eb71";
$logo-opsgenie: "\eb72";
$logo-oracle: "\eb73";
$logo-orcid: "\eb74";
$logo-origin: "\eb75";
$logo-osmc: "\eb76";
$logo-overcast: "\eb77";
$logo-overleaf: "\eb78";
$logo-ovh: "\eb79";
$logo-pagekit: "\eb7a";
$logo-palantir: "\eb7b";
$logo-paloaltosoftware: "\eb7c";
$logo-pandora: "\eb7d";
$logo-pantheon: "\eb7e";
$logo-parse-dot-ly: "\eb7f";
$logo-pastebin: "\eb80";
$logo-patreon: "\eb81";
$logo-paypal: "\eb82";
$logo-peertube: "\eb83";
$logo-periscope: "\eb84";
$logo-php: "\eb85";
$logo-pi-hole: "\eb86";
$logo-picarto-dot-tv: "\eb87";
$logo-pinboard: "\eb88";
$logo-pingdom: "\eb89";
$logo-pingup: "\eb8a";
$logo-pinterest: "\eb8b";
$logo-pivotaltracker: "\eb8c";
$logo-pjsip: "\eb8d";
$logo-plangrid: "\eb8e";
$logo-player-dot-me: "\eb8f";
$logo-playerfm: "\eb90";
$logo-playstation: "\eb91";
$logo-playstation3: "\eb92";
$logo-playstation4: "\eb93";
$logo-plesk: "\eb94";
$logo-plex: "\eb95";
$logo-pluralsight: "\eb96";
$logo-plurk: "\eb97";
$logo-pocket: "\eb98";
$logo-pocketcasts: "\eb99";
$logo-postgresql: "\eb9a";
$logo-postman: "\eb9b";
$logo-postwoman: "\eb9c";
$logo-powershell: "\eb9d";
$logo-prestashop: "\eb9e";
$logo-prettier: "\eb9f";
$logo-prismic: "\eba0";
$logo-probot: "\eba1";
$logo-processwire: "\eba2";
$logo-producthunt: "\eba3";
$logo-prometheus: "\eba4";
$logo-proto-dot-io: "\eba5";
$logo-protonmail: "\eba6";
$logo-proxmox: "\eba7";
$logo-publons: "\eba8";
$logo-purescript: "\eba9";
$logo-pypi: "\ebaa";
$logo-python: "\ebab";
$logo-pytorch: "\ebac";
$logo-pyup: "\ebad";
$logo-qemu: "\ebae";
$logo-qgis: "\ebaf";
$logo-qiita: "\ebb0";
$logo-qualcomm: "\ebb1";
$logo-quantcast: "\ebb2";
$logo-quantopian: "\ebb3";
$logo-quarkus: "\ebb4";
$logo-quicktime: "\ebb5";
$logo-quip: "\ebb6";
$logo-quora: "\ebb7";
$logo-qwiklabs: "\ebb8";
$logo-qzone: "\ebb9";
$logo-r: "\ebba";
$logo-rabbitmq: "\ebbb";
$logo-radiopublic: "\ebbc";
$logo-rails: "\ebbd";
$logo-raspberrypi: "\ebbe";
$logo-react: "\ebbf";
$logo-reactos: "\ebc0";
$logo-reactrouter: "\ebc1";
$logo-readthedocs: "\ebc2";
$logo-realm: "\ebc3";
$logo-reason: "\ebc4";
$logo-reasonstudios: "\ebc5";
$logo-redbubble: "\ebc6";
$logo-reddit: "\ebc7";
$logo-redhat: "\ebc8";
$logo-redis: "\ebc9";
$logo-redux: "\ebca";
$logo-renren: "\ebcb";
$logo-repl-dot-it: "\ebcc";
$logo-researchgate: "\ebcd";
$logo-reverbnation: "\ebce";
$logo-riot: "\ebcf";
$logo-ripple: "\ebd0";
$logo-riseup: "\ebd1";
$logo-rollup-dot-js: "\ebd2";
$logo-roots: "\ebd3";
$logo-roundcube: "\ebd4";
$logo-rss: "\ebd5";
$logo-rstudio: "\ebd6";
$logo-ruby: "\ebd7";
$logo-rubygems: "\ebd8";
$logo-runkeeper: "\ebd9";
$logo-rust: "\ebda";
$logo-safari: "\ebdb";
$logo-sahibinden: "\ebdc";
$logo-salesforce: "\ebdd";
$logo-saltstack: "\ebde";
$logo-samsung: "\ebdf";
$logo-samsungpay: "\ebe0";
$logo-sap: "\ebe1";
$logo-sass: "\ebe2";
$logo-saucelabs: "\ebe3";
$logo-scala: "\ebe4";
$logo-scaleway: "\ebe5";
$logo-scribd: "\ebe6";
$logo-scrutinizerci: "\ebe7";
$logo-seagate: "\ebe8";
$logo-sega: "\ebe9";
$logo-sellfy: "\ebea";
$logo-semaphoreci: "\ebeb";
$logo-sensu: "\ebec";
$logo-sentry: "\ebed";
$logo-serverfault: "\ebee";
$logo-shazam: "\ebef";
$logo-shell: "\ebf0";
$logo-shopify: "\ebf1";
$logo-showpad: "\ebf2";
$logo-siemens: "\ebf3";
$logo-signal: "\ebf4";
$logo-simpleicons: "\ebf5";
$logo-sinaweibo: "\ebf6";
$logo-sitepoint: "\ebf7";
$logo-sketch: "\ebf8";
$logo-skillshare: "\ebf9";
$logo-skyliner: "\ebfa";
$logo-skype: "\ebfb";
$logo-slack: "\ebfc";
$logo-slashdot: "\ebfd";
$logo-slickpic: "\ebfe";
$logo-slides: "\ebff";
$logo-smashingmagazine: "\ec00";
$logo-smugmug: "\ec01";
$logo-snapchat: "\ec02";
$logo-snapcraft: "\ec03";
$logo-snyk: "\ec04";
$logo-society6: "\ec05";
$logo-socket-dot-io: "\ec06";
$logo-sogou: "\ec07";
$logo-solus: "\ec08";
$logo-sonarcloud: "\ec09";
$logo-sonarlint: "\ec0a";
$logo-sonarqube: "\ec0b";
$logo-sonarsource: "\ec0c";
$logo-songkick: "\ec0d";
$logo-sonicwall: "\ec0e";
$logo-sonos: "\ec0f";
$logo-soundcloud: "\ec10";
$logo-sourceengine: "\ec11";
$logo-sourceforge: "\ec12";
$logo-sourcegraph: "\ec13";
$logo-spacemacs: "\ec14";
$logo-spacex: "\ec15";
$logo-sparkfun: "\ec16";
$logo-sparkpost: "\ec17";
$logo-spdx: "\ec18";
$logo-speakerdeck: "\ec19";
$logo-spectrum: "\ec1a";
$logo-spotify: "\ec1b";
$logo-spotlight: "\ec1c";
$logo-spreaker: "\ec1d";
$logo-spring: "\ec1e";
$logo-sprint: "\ec1f";
$logo-square: "\ec20";
$logo-squarespace: "\ec21";
$logo-stackbit: "\ec22";
$logo-stackexchange: "\ec23";
$logo-stackoverflow: "\ec24";
$logo-stackpath: "\ec25";
$logo-stackshare: "\ec26";
$logo-stadia: "\ec27";
$logo-statamic: "\ec28";
$logo-staticman: "\ec29";
$logo-statuspage: "\ec2a";
$logo-steam: "\ec2b";
$logo-steamworks: "\ec2c";
$logo-steem: "\ec2d";
$logo-steemit: "\ec2e";
$logo-steinberg: "\ec2f";
$logo-stencyl: "\ec30";
$logo-stitcher: "\ec31";
$logo-storify: "\ec32";
$logo-storybook: "\ec33";
$logo-strapi: "\ec34";
$logo-strava: "\ec35";
$logo-stripe: "\ec36";
$logo-strongswan: "\ec37";
$logo-stubhub: "\ec38";
$logo-styled-components: "\ec39";
$logo-styleshare: "\ec3a";
$logo-stylus: "\ec3b";
$logo-sublimetext: "\ec3c";
$logo-subversion: "\ec3d";
$logo-superuser: "\ec3e";
$logo-svelte: "\ec3f";
$logo-svg: "\ec40";
$logo-svgo: "\ec41";
$logo-swagger: "\ec42";
$logo-swarm: "\ec43";
$logo-swift: "\ec44";
$logo-symantec: "\ec45";
$logo-symfony: "\ec46";
$logo-synology: "\ec47";
$logo-t-mobile: "\ec48";
$logo-tableau: "\ec49";
$logo-tails: "\ec4a";
$logo-tailwindcss: "\ec4b";
$logo-tapas: "\ec4c";
$logo-teamviewer: "\ec4d";
$logo-ted: "\ec4e";
$logo-teespring: "\ec4f";
$logo-telegram: "\ec50";
$logo-tencentqq: "\ec51";
$logo-tencentweibo: "\ec52";
$logo-tensorflow: "\ec53";
$logo-teradata: "\ec54";
$logo-terraform: "\ec55";
$logo-tesla: "\ec56";
$logo-themighty: "\ec57";
$logo-themoviedatabase: "\ec58";
$logo-tidal: "\ec59";
$logo-tiktok: "\ec5a";
$logo-timescale: "\ec5b";
$logo-tinder: "\ec5c";
$logo-todoist: "\ec5d";
$logo-toggl: "\ec5e";
$logo-topcoder: "\ec5f";
$logo-toptal: "\ec7a";
$logo-tor: "\ec7b";
$logo-toshiba: "\ec7c";
$logo-trainerroad: "\ec7d";
$logo-trakt: "\ec7e";
$logo-travisci: "\ec7f";
$logo-treehouse: "\ec80";
$logo-trello: "\ec81";
$logo-trendmicro: "\ec82";
$logo-tripadvisor1: "\ec83";
$logo-trulia: "\ec84";
$logo-trustpilot: "\ec85";
$logo-tumblr: "\ec86";
$logo-turkishairlines: "\ec87";
$logo-twilio: "\ec88";
$logo-twitch: "\ec89";
$logo-twitter: "\ec8a";
$logo-twoo: "\ec8b";
$logo-typescript: "\ec8c";
$logo-typo3: "\ec8d";
$logo-uber: "\ec8e";
$logo-ubereats: "\ec8f";
$logo-ubisoft: "\ec90";
$logo-ublockorigin: "\ec91";
$logo-ubuntu: "\ec92";
$logo-udacity: "\ec93";
$logo-udemy: "\ec94";
$logo-uikit: "\ec95";
$logo-umbraco: "\ec96";
$logo-unity: "\ec97";
$logo-unrealengine: "\ec98";
$logo-unsplash: "\ec99";
$logo-untappd: "\ec9a";
$logo-upwork: "\ec9b";
$logo-v: "\ec9c";
$logo-v8: "\ec9d";
$logo-vagrant: "\ec9e";
$logo-valve: "\ec9f";
$logo-veeam: "\eca0";
$logo-venmo: "\eca1";
$logo-verizon: "\eca2";
$logo-viadeo: "\eca3";
$logo-viber: "\eca4";
$logo-vim: "\eca5";
$logo-vimeo: "\eca6";
$logo-vine: "\eca7";
$logo-virb: "\eca8";
$logo-visa1: "\eca9";
$logo-visualstudio: "\ecaa";
$logo-visualstudiocode: "\ecab";
$logo-vk: "\ecac";
$logo-vlcmediaplayer: "\ecad";
$logo-vodafone: "\ecae";
$logo-volkswagen: "\ecaf";
$logo-vsco: "\ecb0";
$logo-vue-dot-js: "\ecb1";
$logo-w3c: "\ecb2";
$logo-wattpad: "\ecb3";
$logo-waze: "\ecb4";
$logo-weasyl: "\ecb5";
$logo-webauthn: "\ecb6";
$logo-webcomponents-dot-org: "\ecb7";
$logo-webmin: "\ecb8";
$logo-webpack: "\ecb9";
$logo-webstorm: "\ecba";
$logo-wechat: "\ecbb";
$logo-whatsapp: "\ecbc";
$logo-wheniwork: "\ecbd";
$logo-whitesource: "\ecbe";
$logo-wii: "\ecbf";
$logo-wiiu: "\ecc0";
$logo-wikipedia: "\ecc1";
$logo-windows: "\ecc2";
$logo-wire: "\ecc3";
$logo-wireguard: "\ecc4";
$logo-wish: "\ecc5";
$logo-wix: "\ecc6";
$logo-wolfram: "\ecc7";
$logo-wolframlanguage: "\ecc8";
$logo-wolframmathematica: "\ecc9";
$logo-wordpress: "\ecca";
$logo-workplace: "\eccb";
$logo-wpengine: "\eccc";
$logo-write-dot-as: "\eccd";
$logo-x-dot-org: "\ecce";
$logo-x-pack: "\eccf";
$logo-xamarin: "\ecd0";
$logo-xbox: "\ecd1";
$logo-xcode: "\ecd2";
$logo-xdadevelopers: "\ecd3";
$logo-xero: "\ecd4";
$logo-xfce: "\ecd5";
$logo-xiaomi: "\ecd6";
$logo-xing: "\ecd7";
$logo-xmpp: "\ecd8";
$logo-xrp: "\ecd9";
$logo-xsplit: "\ecda";
$logo-yahoo: "\ecdb";
$logo-yamahacorporation: "\ecdc";
$logo-yamahamotorcorporation: "\ecdd";
$logo-yammer: "\ecde";
$logo-yandex: "\ecdf";
$logo-yarn: "\ece0";
$logo-ycombinator: "\ece1";
$logo-yelp: "\ece2";
$logo-youtube: "\ece3";
$logo-zalando: "\ece4";
$logo-zapier: "\ece5";
$logo-zeit: "\ece6";
$logo-zend: "\ece7";
$logo-zendesk: "\ece8";
$logo-zendframework: "\ece9";
$logo-zeromq: "\ecea";
$logo-zerply: "\eceb";
$logo-zhihu: "\ecec";
$logo-zillow: "\eced";
$logo-zingat: "\ecee";
$logo-zoom: "\ecef";
$logo-zorin: "\ecf0";
$logo-zulip: "\ecf1";

